
<div class="content" role="main">


<!-- MIS COMPONENTES -->
<h1>Curso de Angular</h1>
<p>La pagina por defecto que muestra el Angular Client esta en src/app/app.componentcopy.html</p>
<div>
  <hr>
</div>

<nav>
  <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['linkActivado']">Home</a>
  -
  <a [routerLink]="['/fruta']" [routerLinkActive]="['linkActivado']">Fruta</a>
  -
  <a [routerLink]="['/empleado']" [routerLinkActive]="['linkActivado']">Empleado</a>
  -
  <a [routerLink]="['/contacto']" [routerLinkActive]="['linkActivado']">Contacto</a>
  -
  <a [routerLink]="['/coches']" [routerLinkActive]="['linkActivado']">Coches</a>
  -
  <a [routerLink]="['/plantillas']" [routerLinkActive]="['linkActivado']">Plantillas</a>
</nav>
<div>
  <router-outlet></router-outlet>
</div>


<div>
  <hr>
</div>
<br>
<br>

<!-- FIN DE MIS COMPONENTES-->



</div>


